@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Work+Sans:wght@100&display=swap');

body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    height: 90vh;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

table{
    border-collapse: collapse;
    margin-top: 5%;
    width: 60%;
    overflow: auto;
}

td{
    border:  solid 1px black;
}


td{
    padding: 20px 50px 20px;
}

.todo form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;

}

.todo label{
    margin-top: 5px;
}

.todo input{
    margin-top: 5px;
}

#submit_task{
    margin-top: 10px;
}

.todo a{
    font-weight: bold;
    color: black;
}