.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    background-color: aliceblue;
}

.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 60%;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.container input{
    margin: 20px;
    width: 30%;
    height: 30px;
}

#submit{
    width: 10%;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 10%;
    background-color: #EC7063;
    font-family: 'Poiret One', cursive;
    font-size: xx-large;
}

#password-message{
    display: none;
    width: 30%;

}

#password-message h5{
    width: 100%;
    text-align: left;
}

.valid{
    color: green;
}

.invalid{
    color: red;
}