@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Work+Sans:wght@100&display=swap');

body{
    padding: 0;
    margin: 0;
}


nav{
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color:#2C3E50;
}

ul{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
}


li{
    list-style: none;
    margin: 10%;   
}

a{
    color: #F0F3F4;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: x-large;
}

